body {
  font-family: 'Roboto', sans-serif;
  color: #5c6a88;
  padding-top: 65px;
}

/* TYPOGRAPHY */
h2,
h3,
h4 {
  margin-top: 0;
  color: #031c4e;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-size: 46px;
  color: #fff;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 16px;
}

h4 {
  margin-bottom: 0;
  font-size: 14px;
}

p {
  font-size: 14px;
}

h1 + p {
  color: #bbcdff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}

h2 + p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 32px;
}

h3 + p {
  font-size: 15px;
  font-weight: 500;
}

a {
  color: #006aff;
}

a:hover {
  color: #031c4e;
  text-decoration: none;
}

/* UTILITIES */
.ptb64 {
  padding: 64px 0;
}

.mb16 {
  margin-bottom: 16px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb64 {
  margin-bottom: 64px;
}

.color-white * {
  color: #fff;
}

.bg-white {
  background: #fff;
}

.bg-grey {
  background: #f3f5f9;
}

.bg-blue {
  background: linear-gradient(0deg, rgba(0,16,154,1) 0%, rgba(0,66,187,1) 100%);
}

.pos-rel {
  position: relative;
}

/* HEADER */
/* navbar */
.navbar {
  height: 65px;
  filter: drop-shadow(0 1px 3px rgba(3, 28, 78, 0.8));
}

.navbar-default {
  margin-bottom: 0;
  border: 0;
  background-color: #fff;
}

.navbar-default .navbar-nav > li {
  height: 65px;
  padding: calc((65px - 20px) / 2) 10px;
  line-height: 65px;
}

.navbar-default .navbar-nav > li > a {
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: #031c4e;
  transition: .2s;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #006aff;
}

.navbar-default .navbar-header a {
  height: 65px;
  padding: 15px;
}

.navbar-default .navbar-header a img {
  max-height: 100%;
}

.navbar-default .navbar-nav > li.login {
  padding: calc((65px - 32px) / 2) 10px;
}

.navbar-default .navbar-nav > li > a.navbar-btn:hover {
  color: #fff;
  background-color: #006aff;
  border-color: #fff;
}

.navbar-default .navbar-nav > li > a.navbar-btn {
  margin: 0;
  padding: 5px 10px;
  color: #006aff;
  border-color: #006aff;
  transition: .2s;
}

.navbar-default .navbar-toggle {
  position: absolute;
  margin: 0;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid transparent;
  transition: .2s;
  z-index: 1;
}

.navbar-default .navbar-toggle .icon-bar {
  height: 3px;
  background-color: #3a8aff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border: 1px solid #3a8aff;
}

/* hero */
.hero {
  background-image: url('../img/bg-banner-home.jpg');
}

.account-form {
  padding: 64px 16px;
  background-color: #fff;
  border-radius: 5px;
}

.account-form .btn {
  margin-bottom: 10px;
}

.create-account {
  background: #579aff;
  color: #fff;
  font-weight: 500;
  border: 1px solid transparent;
  transition: .2s;
}

.create-account:hover,
.btn.btn-default.create-account:active,
.btn.btn-default.create-account:focus {
  color: #fff;
  background: #0049ff;
  box-shadow: #0049ff;
}

.google-account {
  color: #626262;
  font-weight: 500;
  border: 1px solid transparent;
  box-shadow: 1px 1px 2px lightgrey;
  transition: .2s;
}

.google-account:hover {
  background: #fafafa;
  color: #444;
  border: 1px solid #fafafa;
}

.btn.btn-default.google-account:active,
.btn.btn-default.google-account:focus {
  background: #fafafa;
  color: #444;
  border: 1px solid #fafafa;
  box-shadow: inset 1px 1px 4px rgba(0,0,0,0.125);
}

.google-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  max-height: 18px;
  border: 0;
}

/* CUSTOMERS */
#customers h3 {
  color: #6f7b97;
}

#customers li {
  width: 40%;
  vertical-align: middle;
}

#customers li:nth-of-type(2n+1) {
  margin-right: 30px;
}

/* DEPLOY AND SCALE */
.deploy-list {
  margin-bottom: 30px;
  text-align: left;
  font-size: 18px;
}

.deploy-list ul {
  padding-left: 15px;
  border-left: 2px solid #ccc;
}

.deploy-list li {
  margin: 10px 0;
}

.deploy-list a {
  color: #75809a;
  font-weight: 500;
}

.deploy-list a:hover,
.deploy-list a:focus {
  text-decoration: none;
  color: #031c4e;
}

/* CONTROL PANEL */
.scroll-right,
.scroll-left {
  position: absolute;
  font-size: 50px;
}

.scroll-left {
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
}

.scroll-right {
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
}

.scroll-left i,
.scroll-right i {
  color: #6f7b97;
  transition: .2s;
}

.scroll-left a:hover i,
.scroll-right a:hover i {
  color: #031c4e;
}

#control-panel span {
  font-weight: 500;
  color: #031c4e;
}

/* FEATURE */
.feature {
  text-align: left;
  margin-bottom: 15px;
}

.feature * {
  margin-bottom: 15px;
}

.feature a {
  display: inline-block;
}

/* SPEED TEST */
#speed-test .city-row {
  margin-bottom: 0;
  border-bottom: 1px solid #fff;
}

#speed-test .city-row li {
  padding: 10px 10px;
}

#speed-test .city-row li.pull-left {

}

#speed-test .city-row li.pull-left:nth-of-type(1) {
  width: 60px;
}

#speed-test .city-row li.pull-left:nth-of-type(2) {
  color: #bbc7e7;
}

#speed-test .pull-right a {
  color: #00d5d1;
}

#speed-test .pull-right a:hover {
  color: #fff;
}

/* STORY */
#story .scroll-img {
  padding: 32px 0;
}

#story img + p {
  font-size: 24px;
}

#story h4 + p {
  color: #031c4e;
}

/* GET STARTED */
.create-account-2,
.btn.btn-default.create-account-2:focus {
  padding: 10px 16px;
  font-weight: 500;
  color: #006aff;
  background: #fff;
  border: 1px solid #cccccc;
  transition: .3s;
}

.btn.btn-default.create-account-2:hover {
  background: #fff;
  color: #006aff;
  border: 1px solid #cccccc;
  transform: scale(1.2);
}

/* FOOTER */
footer {
  color: #a6adbd;
  background: #031c4e;
}

footer img {
  margin-bottom: 10px;
}

footer img ~ p {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
}

footer img + p + p {
  color: #5a6887;
}

footer .list-inline {
  padding: 15px 0;
}

footer .list-inline i {
  font-size: 24px;
}

footer .list-inline a {
  color: #7a859d;
  transition: .2s;
}

footer .list-inline a:hover,
footer .list-inline a:focus {
  color: #0080ff;
}

ul.list-unstyled h3 {
  font-size: 18px;
}

ul.list-unstyled li {
  margin: 10px 0;
}

ul.list-unstyled li a {
  font-size: 16px;
  font-weight: 500;
  color: #a6adbd;
  transition: .1s;
}

ul.list-unstyled li a:hover {
  color: #0080ff;
}

/* HELP */
.help {
  position: fixed;
  left: 40px;
  bottom: 40px;
  width: 450px;
}

.help-fish {
  width: 60px;
  height: 60px;
  background: #006aff;
  border-radius: 5px;
}

.help-fish a {
  display: block;
  width: 60px;
  height: 60px;
}

.help-fish img {
  position: absolute;
  bottom: 5px;
}

.help-fish .notifics {
  position: absolute;
  background: red;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.help-text {
  width: 350px;
  padding: 10px 40px 10px 10px;
  color: #031c4e;
  background: #fff;
  border-radius: 5px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}

.help-text::before {
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  content: '';
  transform: rotate(45deg);
  position: absolute;
  right: -5px;
  top: 60%;
}

.help-text p {
  margin-bottom: 0;
}

/* hide logo below 270px */
@media screen and (max-width: 270px) {
  .navbar-brand {
    transition: .3s;
  }

  .navbar-brand {
    opacity: 0.1;
    width: 0;
  }
}

/* HAMBURGER VISIBILITY */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-toggle {
    display: block;
    position: absolute;
    right: 0;
  }

  .navbar-collapse {
    display: none;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .account-form {
    padding: 32px 16px;
  }

  #customers li {
    width: 15%;
    vertical-align: middle;
  }

  #customers li:not(:last-of-type) {
    margin-right: 10px;
  }

  .scroll-img {
    margin: 0 35px;
  }

  .deploy-list {
    margin-left: 8.33333333%;
  }

  .feature *:last-child {
    margin-bottom: 0;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 58px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }

  h1 + p {
    color: #bbcdff;
    font-size: 24px;
  }

  h2 + p {
    font-size: 20px;
  }

  h3 + p {
    font-size: 16px;
    font-weight: 500;
  }

  .navbar-default .navbar-header a {
    margin-right: 50px;
  }

  #control-panel div.mb64 {
    margin-bottom: 16px;
  }

  #story .scroll-img {
    padding: 64px 0;
  }

  .help {
    left: 100%;
    transform: translateX(calc(-100% - 40px));
  }

  .help-fish {
    float: right;
    margin-bottom: 0;
  }

  .help-text {
    float: right;
    margin-right: 20px;
  }
}
